<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231592757629-dcg2dubmquphf8lv2kgtv881pos98fsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231592757629-dcg2dubmquphf8lv2kgtv881pos98fsf</string>
	<key>API_KEY</key>
	<string>AIzaSyDNlfbJjJmPNbPj6GbdG_A018rY9SpLhUc</string>
	<key>GCM_SENDER_ID</key>
	<string>231592757629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yaes.krazStoryBoard</string>
	<key>PROJECT_ID</key>
	<string>karz-8dff2</string>
	<key>STORAGE_BUCKET</key>
	<string>karz-8dff2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231592757629:ios:a7804a2b0fcf9091dbe414</string>
</dict>
</plist>